#one-page-menu .nav-link {
    position: relative;
    color: #111;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 240%;
    border-bottom: 1px solid var(--bs-gray-300);
  }
  
  #one-page-menu .nav-link::before {
    content: "";
    position: absolute;
    bottom: -1px;
    background: var(--bs-dark);
    height: 1px;
    width: 0;
    transition: width 0.6s ease-out;
  }
  
  #one-page-menu .nav-link.active::before,
  #one-page-menu .nav-link:hover::before {
    width: 100%;
  }