<section id="about" class="my-md-5 py-md-5 bg-text my-xs-0" data-text="02">
    <div class="row d-flex flex-wrap" data-aos="fade-up">
      <div class="col-lg-6 pb-5">
        <span class="text-muted text-uppercase">ÖZGEÇMİŞ</span>
        <h2 class="display-4 txt-fx slide-up">Eğitimler</h2>
        <div class="data-info" data-aos="fade-up" data-aos-delay="100">
          <span class="meta-date">09.2018 - 16.2021</span>
          <h3 class="info-title">İstanbul Gelişim Üniversitesi</h3>
          <p>İşletme Bilgi Yönetimi <strong>(Tam Burslu)</strong></p>
        </div>
        <div class="data-info py-3" data-aos="fade-up">
          <span class="meta-date">09.2014 - 06.2017</span>
          <h3 class="info-title">Nevşehir Mesleki ve Teknik <br /> Anadolu Lisesi</h3>
          <p>Bilişim Teknolojileri / <strong>Web Programlama</strong></p>
        </div>
      </div>
      <div class="col-lg-6 pb-5">
        <h2 class="display-4 txt-fx slide-up">Deneyimler</h2>
        <div class="data-info" data-aos="fade-up" data-aos-delay="300">
          <span class="meta-date">04.2023 -  09.2023</span>
          <h3 class="info-title">DuoSoft.: Front-End Developer</h3>
          <p>Yapay zeka odaklı bir projede yer alarak <strong>gerçek hayattaki bir projede</strong> yer alma şansım oldu.</p>
        </div>
        <div class="data-info py-3" data-aos="fade-up" data-aos-delay="200">
          <span class="meta-date">07.2022 - 08.2022</span>
          <h3 class="info-title">DGPays.: Front-End Developer</h3>
          <p>DGAkademi'nin yürüttüğü staj ve eğitim programında çeşitli projeleri tamamladım.</p>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-wrap" data-aos="fade-up">
      <div class="col-lg-6 pb-5">
        <h2 class="display-4 txt-fx slide-up">Sertifikalar</h2>
        <div class="data-info py-3" data-aos="fade-up">
          <span class="meta-date">03.2023 - Udemy</span>
          <h3 class="info-title"><a href="http://ude.my/UC-118c8bf9-ec99-423e-ab8a-0527f1d4b4e3/" target="_blank">Algorithms and Data Structures</a></h3>
          <p>Mühendisliğin temelini oluşturan algoritmalar ve veri yapıları <br /> konusunda derinlemesine bilgi edindim.</p>
        </div>
        <div class="data-info" data-aos="fade-up" data-aos-delay="100">
          <span class="meta-date">08.2022 - Techcareer.net</span>
          <h3 class="info-title"><a href="https://certificates.techcareer.net/tr/verify/46721254671666?ref" target="_blank">Front-End Developer Bootcamp</a></h3>
          <p>Bu bootcamp'te JavaScript teknolojisinde algoritma kurmanın temelini öğrendim. Aynı zamanda Angular.Js framework'ünü deneyimleme fırsatı elde ettim.</p>
        </div>
      </div>
      <div class="col-lg-6 pb-5">
        <h2 class="display-4 txt-fx slide-up">Referanslar</h2>
        <div class="data-info py-3" data-aos="fade-up" data-aos-delay="200">
          <span>DGPays</span>
          <h3 class="info-title"><a href="https://www.linkedin.com/in/hkkcngz?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAABDCt4IB0zBr-ArYmChoY_kPq6mE5aAOUNY&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BDYrz3BaQQFOD5Al1HXDXyw%3D%3D" target="_blank">Hakkı Cengiz</a></h3>
          <p>Dgpays firmasının düzenlediği bir kamp sırasında front-end geliştirme alanında düzenlenen eğitimle katılımcılara değerli bilgiler sundu.</p>
        </div>
        <div class="data-info" data-aos="fade-up" data-aos-delay="300">
          <span>Techcareer.net</span>
          <h3 class="info-title"><a href="https://www.linkedin.com/in/tuncg?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAB8C06kBKBoIwvtl90J3ZfKhQchBKB6zsss&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bbl3DY4JYSYGMVWbPN0V8yg%3D%3D">Tunç Güleç</a></h3>
          <p>Algoritma konusundaki bilgi ve eğitmenlik yetenekleriyle benim için büyük bir ilham kaynağı oldu; karmaşık konuları anlamak ve uygulamak konusunda önemli ilerleme kaydettim.</p>
        </div>
      </div>
    </div>
  </section>