<section id="home" class="py-5 bg-text" data-text="01">
  <div class="row">
    <div class="col-lg-6">
      <div
        class="banner-image text-center"
        data-aos="fade-right"
        data-aos-duration="2000"
      >
        <img
          src="../../../assets/img/banner-image.svg"
          alt="banner"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="banner-content my-1 pt-1 my-lg-5 pt-lg-5" data-aos="fade-in">
        <span class="text-muted text-uppercase">Front-End Developer</span>
        <h1 class="banner-title display-xl lh-1 txt-fx slide-up">Beyzanur</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box" data-aos="fade-up">
        <span>01</span>
        <h3 class="sub-heading">Web Temelleri</h3>
        <p>HTML5, CSS3 ve Javascript bilgim oldukça yeterlidir.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <span>02</span>
        <h3 class="sub-heading">Duyarlı Tasarım</h3>
        <p>Responsive tasarımları kodlamada oldukça bilgiliyim.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <span>03</span>
        <h3 class="sub-heading">UI Kütüphaneleri</h3>
        <p>Gerekli arayüz kütüphanelerini zorluk çekmeden kullanabiliyorum.</p>
      </div>
    </div>
    <div class="col-lg-3">
      <a
        href="#portfolio"
        class="btn btn-dark text-uppercase py-4 px-5"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        PROJELERİM
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
